* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all ease;
}
body {
    font-family: Poppins, sans-serif;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

#root {
    padding:3rem 2rem 2rem 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Description {
    text-align: center;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p {
    font-size: 0.8rem;
    color: grey;
}
.image-holder {
    margin: 2rem 0;
    border: 2px dashed #97bef4;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.image-svg {
    height: 50%;
    max-height: 200px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    height: auto;
}

button{
     font-family: Poppins, sans-serif;
}

.delete-btn, .submit-btn{
    height: 2.5rem;
    width: 10rem;
    margin: .5rem 0;
    font-weight: 800;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
}

.delete-btn {
    background-color: #eb1b60;
}
.delete-btn:hover{
    background-color: #e65887;
}

.submit-btn {
    background-color: #11c287;
}
.submit-btn:hover {
    background-color: #3ac999;
}

.file-btn {
    height: 2.5rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: #1b75eb;
    color: white;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.2s all ease;
}
.file-btn:hover {
    background-color: #3b87eb;
}

.uploaded-img {
    width: auto;
    height: 100%;
}

.uploaded{
    display: flex;
    width: 80%;
    height: 2.5rem;
}

.uploaded-url{
    font-family: inherit;
    width: 100%;
    padding: .25rem;
    height: 2.5rem;
}

.copy{
    background-color: #11c287;
    border: none;
    outline: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
}

.copy:hover{
    background-color: #3ac999;
}

.fas{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
}

