* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

#root {
    position: relative;
    padding:3rem 2rem 2rem 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 30rem;
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all ease;
}

.Description {
    text-align: center;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s all ease;
}
p {
    font-size: 0.8rem;
    color: grey;
}
.image-holder {
    margin: 2rem 0;
    border: 2px dashed #97bef4;
    border-radius: 10px;
    width: 400px;
    max-width: 90vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    transition: 0.3s all ease;
}

.image-svg {
    height: 50%;
    max-height: 200px;
    transition: 0.3s all ease;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    transition: 0.3s all ease;
}

.file-uploader{
    position:absolute;
    top: 0;
    width: 100%;
    height: 80%;
    opacity: 0;
    transition: 0.3s all ease;
}

.dragging ~ .image-holder{
    opacity: 0;
}

button{
     font-family: Poppins, sans-serif;
}

.delete-btn, .submit-btn{
    height: 2.5rem;
    width: 10rem;
    margin: .5rem 0;
    font-weight: 800;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    transition: 0.3s all ease;
}

.delete-btn {
    background-color: #eb1b60;
}
.delete-btn:hover{
    background-color: #e65887;
}

.submit-btn {
    background-color: #11c287;
}
.submit-btn:hover {
    background-color: #3ac999;
}

.file-btn {
    height: 2.5rem;
    width: 10rem;
    border: none;
    outline: none;
    background-color: #1b75eb;
    color: white;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.2s all ease;
}
.file-btn:hover {
    background-color: #3b87eb;
}
.loader {
    height: fit-content;
    width: auto;
}

.loader svg{
    margin: -1.5rem 0;
}
.uploaded-img {
    width: auto;
    height: 100%;
}

#cloud{
    font-size: 7rem;
    color:#1b75eb;
    opacity: 0;
    animation: appear 1s ease forwards;
}
@keyframes appear {
    to{
        opacity: 1;
    }
}


.disappear{
    opacity: 1;
    animation: disappear 1s ease forwards;
}
@keyframes disappear {
    to{
        opacity: 0;
    }
}


.uploaded{
    position: relative;
    display: flex;
    width: 80%;
    height: 2.5rem;
}

.uploaded-url{
    font-family: inherit;
    width: 100%;
    padding: .25rem;
    height: 2.5rem;
}

.copy{
    background-color: #3ac999;
    border: none;
    outline: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    transform: scale(1);
}

.copy:hover{
    background-color: #11c287;
}

.copy-focus{
    transform: scale(1.1);
}

.fas{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
}

.lottie{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    transform: scale(1.1);
}

.msg{
    color:rgb(126, 126, 126);
    font-weight: 300;
    letter-spacing: -1px;
    position: absolute;
    right: -60px;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

